*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    background: rgb(0, 0, 0);
    justify-content: space-between;
    padding: 15px 20px;
    align-items: center;
}

.company-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    gap: 10px;
    text-decoration: none;
    color: white;
}

nav{
     display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    text-decoration: none;
    font-size: 18px;
}

.menu{
     display: flex;
    gap: 10px;
    text-decoration: none;
      color: white;

}

 .login-btn{
    padding: 10px 40px;
    color: white;
    background: linear-gradient(120deg,black,rgb(225, 0, 255),black);
    font-size: 16px;
    border-radius: 10px;
    border: none;
}


.hamburger-icon{
    display: none;
}

#menu-open-btn{
    border: none;
    background: transparent;
    font-size: 25px;
    color: rgb(255, 255, 255);

}

#menu-close-btn{
    display: none;
}
.menu:hover{
    color: blueviolet;
}

 .login-btn:hover{
    box-shadow: 3px 3px 10px rgba(255, 255, 255, 0.274);
}

@media (max-width:1100px) {

 #nav{
    display: none;
 } 
 
 
 .login-btn{
    display: none;
}

.hamburger-icon{
    display: flex;
}
}

@media (max-width:600px) {
  
    .company-logo{
         font-size: clamp(15px,2vw,25px);
    }

    .company-logo img{
        width: clamp(50px,6.5vw,85px);
    }

    #menu-open-btn{
    font-size: clamp(15px,2vw,25px);
}
}

