<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Ithalini Photo Studio</title>
</head>
<body>
    <div class="home">
        <section class="nav">
    
            <div class="nav-container">
    
                <div class="logo">
                    <h3>Ithalini Studio</h3>
                </div>
    
                <nav>
                    <a href="#">Home</a>
                    <a href="#">About</a>
                    <a href="#">Services</a>
                    <a href="#">Gallery</a>
                    <a href="#">Contact</a>
                </nav>
    
            </div>
    
        </section>
    
        <section class="hero">
            <div class="hero-container">
                <div class="hero-left">
    
                    <h1>Photography Studio</h1>
                    <p>Capturing moments, creating memories.</p>
    
                    <div class="present">
                        <div class="present-left">
                            <p>Presented by</p>
                            <p>Nandtha kumar</p>
                        </div>
                        
                        <div class="present-right">
                            <p>Contact</p>
                            <p>+91 1234567890</p>
                            
                        </div>
                    </div>
                </div>
        </section>
    </div>

</body>
</html>